@font-face {
    font-family: 'Qurellia';
    src: url('font/Qurellia-Salesta DEMO.ttf') format('opentype');
}

body{
    font-family: 'Qurellia', sans-serif;
    background-color: #f4eddf;
    color: #4e3522;
}

.hero {
  position: relative;
  max-width: 1300px;
  margin: 30px auto;
}

.profile {
  width: 100%;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

/* overlay gelap kanan */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(0,0,0,0.8), transparent);
  border-radius: 20px;
}

/* text */
.caption {
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  color: #f4eddf;
  text-align: right;
}

.caption p {
  margin: 5px 0;
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  color: #e5e5e5;
}

/* tombol */
.btn {
  margin-top: 10px;
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #f4eddf;
  color: #4e3522;
  cursor: pointer;
}

.btn:hover {
  background:#4e3522;
  color: #f4eddf;
}

/* logo */
.logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 250px;
}

.info{
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 40px 60px;
  border: 2px solid #4e3522;
  border-radius: 25px;
  text-align: center;
  top: 30px;
  margin-bottom: 50px;
}

.gambar-atas{
  position: absolute;
  top: -50px;
  left: -40px;
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.gambar-bawah{
  position: absolute;
  bottom: -50px;
  right: -25px;
  width: 150px;
  height: 150px;
  object-fit: contain;
  border-radius: 10px;
}

.teks-atas{
   margin: 10px auto;
  max-width: 650px;
    font-size: 14px;
  line-height: 1.7;
  color: #4e3522;
  font-size: 32px;
  font-weight: bold;
}

.pembuka{
  margin: 10px auto;
  max-width: 420px;
    font-size: 14px;
  line-height: 1.7;
  color: #4e3522;
}

.menu{
    display: flex;
    flex-wrap: wrap; /* supaya kalau layar kecil card turun */
    justify-content: center; /* biar tetap di tengah */
}

.card{
    position: relative;
    width: 250px;
    margin: 30px;
    border-radius: 20px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card img:hover{
  transform: scale(1.05);
  transition: 0.3s;
}

.card p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
    color: #f4eddf;
    text-shadow: 2px 2px 5px black;
}

.line{
  width: 100%;        /* mengikuti ukuran layar */
    height: 2px;
    background-color: #4e3522;
    margin: 20px auto;
}

.alamat{
  margin-top: 20px;
  margin-bottom: 20px;
}

.email p,
.alamat p,
.tiktok p{
  margin: 0;
  margin-left: 30px;
}

.judul-email,
.judul-alamat,
.judul-tiktok{
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
}

.isi-tiktok{
  text-align: center;
}

.info-bawah{
  display: flex;
  gap: 80px;
  margin-top: 20px;
  align-items: flex-start;
  justify-content: center; /* ini bikin isi ke tengah */
}

.kiri-info{
  display: flex;
  flex-direction: row;
  gap: 20px; /* jarak email tiktok alamat */
  flex-wrap: wrap; /* supaya tidak rusak di layar kecil */
}

.isi-alamat{
  margin: 0;
}

.kiri-info{
  display: flex;
  gap: 80px;
}

.instagram{
  text-align: center;
}

.judul-instagram{
  font-weight: bold;
  margin-bottom: 5px;
}

.sosial{
  display: flex;
  flex-direction: column;
  gap: 10px;
}